{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<body>

 <div class="m-top6">
     <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default panel-gray">
                <div class="panel-heading p-15">
                    <span class="white-txt text-uppercase">Change Password</span>
                </div>
                <div class="panel-body">
                   <form class="" method="post" id="">
                       {% csrf_token %}
                       {% for field in form %}
                            <div class="form-group">
                                 {{ field.errors }}
                                <label for="id_password">{{ field.label }}</label>
                                 {{ field|add_class:'form-control'}}
                            </div>
                           {% if field.help_text %}
                                <div class="form-group">
                                    {{ field.help_text|safe }}
                                </div>
                           {% endif %}

{#                            <div class="form-group">#}
{#                                <label for="id_password">New Password</label>#}
{#                                <input type="password" name="password" class="form-control" required="" id="id_password">#}
{#                            </div>#}

                        {% endfor %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button type="submit" class="btn btn1">Change Now</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                   </form>
                </div>

            </div>
     </div>
 </div>
</body>
{% endblock %}