{% include "outerbase.html" %}
{% load static %}
{% block content %}
    <body class="home-page">

<div>
<div class="w-100 h-100 padt0-80 reg-page-cont">
  <div class="mui-row">
    <div class="user-width">
      <div class="mui-row mui--hidden-lg mui--hidden-xl">
             <div class="user-head-logo-small">  <img src="Logo2.png" alt=""></div>
      </div>
      <div class="mui-col-sm-12 mui-col-md-8 right-form-new">
        <div class="right-form-box">
        <form  class="mui-form" action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="right-form-cont">
  	    <div class="mui-row">
          <div class="mui-col-md-12 ">
            <div class="mui-textfield mui-textfield--float-label right-form-label-text">
              <!--    <input type="text" required>-->
              <input  name="id_firstname" id="id_firstname"  type="text"  required  />
              <label>First Name</label>
            </div>
          </div>
        </div>
        <div class="mui-row">
          <div class="mui-col-md-12">
            <div class="mui-textfield mui-textfield--float-label right-form-label-text">
              <!--    <input type="text" required>-->
              <input  name="id_lastname" id="id_lastname" type="text"  required />
              <label>Last Name</label>
            </div>
          </div>
        </div>
        <div class="mui-row">
          <div class="mui-col-md-12">
            <div class="mui-textfield mui-textfield--float-label right-form-label-text">
              <input type="text"  name="id_phone" id="id_phone" required>
              <label>Phone no.</label>
            </div>
          </div>
        </div>
        <div class="mui-row">
          <div class="mui-col-md-12">
            <div class="mui-textfield mui-textfield--float-label right-form-label-text">
              <input  type="email"  name="id_email" id="id_email"  required>
              <label>Email Address</label>
            </div>
          </div>
        </div>

        <div class="mui-row">
          <div class="mui-col-md-12">
            <div class="mui-textfield mui-textfield--float-label right-form-label-text"><!--    <input type="password"  name="password1" id="password1" required>-->

              <input name="id_pass1" id="id_pass1"  type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  required >
              <button type="button" id="btnToggle" class="toggle"><i id="eyeIcon" class="fa fa-eye"></i></button>
              <label>Password</label>
            </div>
          </div>
        </div>
        <div class="mui-row">
          <div class="mui-col-md-5">
            <div class="mui-textfield mui-textfield--float-label right-form-label-text">
              <input  name="id_profile_pic" id="id_profile_pic"  type="file"  >
              <label>Upload Profile</label>
            </div>
          </div>
        </div>
          <div class="mui-row">
            <div class="mui-col-md-5">
              <div class="mui-selectfield mui-selectfield--float-label right-form-label-text">
              <label for="type">Select list:</label>
              <select class="form-control" id="type">
                <option value="1">Company Admin</option>
                <option value="2">Branch Admin</option>
                <option value="3">Field Executive</option>
              </select>
              </div>
            </div>
          </div>
        <div class="form-group" id="message">
          <h5>Password must contain the following:</h5>
          <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
          <p id="navumber" class="invalid">A <b>number</b></p>
          <p id="length" class="invalid">Minimum <b>8 characters</b></p>
        </div>

        <div class="mui-row mui-form m-t full-width">
          <div class="mui-col-md-12">
             <input type="submit" id="user_registration"  class="mui-btn "  value="Create Account" >
          </div>
        </div>
        <div class="mui-row right-form-bottom">
          <div class="mui-col-md-12">
            <p class="right-form-info-link padt20 ">Already have an Account? <a href="/login">Sign In</a></p>
          </div>
        </div>
         </div>
       </form>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/user_register.js' %}"></script>
<script src="{% static 'js/mui.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
