{% include "outerbase.html" %}
{% load static %}
   <title>
         {% block title %} Password Reset | SGSPL- Base Project {% endblock %}
   </title>
   {% block content %}
      <body>
         <!--================================-->
         <!-- Page Content Start -->
         <!--================================-->
         <div class="ht-100v text-center">
            <div class="row pd-0 mg-0">
               <div class="col-lg-6 bg-gradient hidden-sm">
                  <div class="ht-100v d-flex">
                     <div class="align-self-center">
                        <img src="{% static 'images/logo-sm.png' %}" class="img-fluid" alt="">
                        <p class="pd-y-15 pd-x-10 pd-md-x-100 tx-gray-200">if you do not want to reset your password you can always go back. </p>
                        <a href="/login" class="btn btn-outline-primary"><span class="tx-gray-200">Sign In</span></a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 bg-light">
                  <div class="ht-100v d-flex align-items-center justify-content-center">
                     <div class="">
                        <h3 class="tx-dark mg-b-5 tx-left">Password Reset</h3>
                        <p class="tx-gray-500 tx-15 mg-b-40">Welcome back! Please enter your e-mail to continue.</p>
                        <div class="form-group tx-left">
                           <label class="tx-gray-500 mg-b-5">Email address</label>
                           <input type="email" class="form-control" id="id_email" placeholder="email@domain.com">
                           <ul id="id_email_errors" class="custom-errors-list"></ul>
                        </div>

                        <button type="submit" name="send_mail" id="send_mail"  class="btn btn-brand btn-block">Send Mail</button>

                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--/ Page Content End -->

      </body>
   {% endblock %}
{% include "footer.html" %}
<!--check user_authenticate-->
<script src="{% static 'js/registration/reset-password.js' %}"></script>
</html>