{% extends 'uplevel_admin/base.html' %}
{% load static %}

{% block title_content %}
  {% if instruction %}
    Update Video Call Service Account: {{ video_call_service_account }}
  {% else %}
    Create Video Call Service Account
  {% endif %}
{% endblock title_content %}

{% block breadcrumb_content %}
  {{ block.super }}

  <li class="breadcrumb-item"><a href="{% url 'video_call:video_call_service_accounts' %}">video_call_service_accounts</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    {% if video_call_service_account %}
      Update Video Call Service Account
    {% else %}
      Create Video Call Service Account
    {% endif %}
  </li>
{% endblock breadcrumb_content %}

{% block heading_content %}
  {% if video_call_service_account %}
    Update Video Call Service Account
  {% else %}
    Create Video Call Service Account
  {% endif %}
{% endblock heading_content %}

{% block content_inside_container_div_in_content_body_div %}

  <div class="card mt-4">

    <form id="id_form_video_call_service_account_details">

      <div class="card-body pd-20 pd-sm-30">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-xl-7">

            <div class="form-group">
              <label class="tx-11 tx-uppercase tx-medium tx-spacing-1 tx-color-03">Name<span
                  class="tx-danger">*</span></label>
              <input id="id_name" type="text" name="name" class="form-control" autocomplete="off" placeholder="Enter Name"
                value="{% if video_call_service_account %}{{ video_call_service_account.name }}{% endif %}" required="">
              <ul id="id_name_errors" class="custom-errors-list"></ul>
            </div>

            <div class="form-group">
              <label class="tx-11 tx-uppercase tx-medium tx-spacing-1 tx-color-03">Email<span
                  class="tx-danger">*</span></label>
              <input id="id_email" type="email" name="email" class="form-control" autocomplete="off"
                placeholder="Enter email"
                value="{% if video_call_service_account %}{{ video_call_service_account.email }}{% endif %}" required="">
              <ul id="id_email_errors" class="custom-errors-list"></ul>
            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label class="tx-11 tx-uppercase tx-medium tx-spacing-1 tx-color-03">
                    Account Type<span class="tx-danger">*</span>
                  </label>
                  <select id="id_video_call_service" name="video_call_service" style="width: 100%;"
                    data-parsley-errors-container="#id_account_type_errors">
                    <option value="ZOOM">Zoom</option>
                  </select>
                  <div id="id_video_call_service_errors"></div>
                  <ul id="id_video_call_service_errors" class="custom-errors-list"></ul>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="tx-uppercase tx-11 tx-medium tx-spacing-1 tx-color-03">External Account ID<span
                      class="tx-danger">*</span></label>
                  <input id="id_external_account_id" type="text" name="external_account_id" class="form-control"
                    autocomplete="off" placeholder="Enter Account ID"
                    value="{% if video_call_service_account %}{{ video_call_service_account.external_account_id }}{% endif %}"
                    required="">
                  <ul id="id_external_account_id_errors" class="custom-errors-list"></ul>
                </div>
              </div>

            </div>

            <div class="form-group mb-0">
              <label class="tx-uppercase tx-11 tx-medium tx-spacing-1 tx-color-03">Cohort</label>
              <select id="id_cohort" name="cohort" style="width: 100%;"
                data-parsley-errors-container="#id_parsley_cohort_errors">
                <option></option>
                {% for cohort in all_cohorts %}
                <option value="{{ cohort.id }}" {% if video_call_service_account.cohort == cohort %} selected {% endif %}>
                  {{ cohort }}
                </option>
                {% endfor %}

              </select>
              <div id="id_parsley_cohort_errors"></div>
              <ul id="id_cohort_errors" class="custom-errors-list"></ul>
            </div>
            <div class="custom-errors-list" id="id_error_list"></div>
          </div>

        </div>
      </div>
      <div class="card-footer pd-y-15 pd-x-25">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-xl-7">
            <div class=" d-flex flex-column flex-sm-row">
              <div class="d-flex d-sm-block">
                <button id="id_btn_video_call_service_account_save" type="submit"
                  class="btn btn-sm btn-success btn-uppercase mr-2 flex-fill pd-x-40">
                  Save</button>
                <a href="{% url 'video_call:video_call_service_accounts' %}"
                  class="btn btn-sm btn-light btn-uppercase flex-fill pd-x-30">Cancel</a>
              </div>

              {% if video_call_service_account %}
                <button id="id_btn_delete_service_account" type="button" class="btn btn-link btn-uppercase mt-3 mt-sm-0 text-danger ml-auto mr-auto mr-sm-0">
                  <i data-feather="trash" class="mr-1"></i> Delete
                </button>
              {% endif %}

            </div>
          </div>
        </div>
      </div>

    </form>
    
  </div>

  <div id="id_modal_service_account_delete_not_possible" class="modal modal-invitation-exp fade" id="id_modal_select_invitation_expiration_date" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" style="width: 260px" role="document">
      <div class="modal-content">
        <div class="modal-body px-0 py-2">
          <h5>Service Account is Being Used. It can not be deleted</h5>
        </div>
        <div class="modal-footer pd-x-20 pd-y-15">
          <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>

  {% if video_call_service_account %}
    <div class="row">
      <div class="col">
        <ul class="info-row mg-b-0 mg-t-20 tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans">
          <li>
            Created at: {{ video_call_service_account.created_at }}
          </li>
          <li>
            Created by:
            {% if video_call_service_account.created_by %}
             {{ video_call_service_account.created_by }}
            {% else %}
             UNKNOWN
            {% endif %}
          </li>
          <li>
            Last updated at:
            <span id="id_last_updated_at">
              {{ video_call_service_account.last_updated_at }}
            </span>
          </li>
          <li>
            Last updated by:
            <span id="id_last_updated_by">
              {% if video_call_service_account.last_updated_by %}
               {{ video_call_service_account.last_updated_by }}
              {% else %}
               UNKNOWN
              {% endif %}
            </span>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}

{% endblock content_inside_container_div_in_content_body_div %}


{% block content_just_after_common_scripts %}
  
  <script>
    var csrfmiddlewaretoken = "{{ csrf_token }}";
    var listURL = "{% url 'video_call:video_call_service_accounts' %}";
    var createURL = "{% url 'video_call:service_account-list' %}";
    var updateURL = '';

    var id = null;
    {% if video_call_service_account %}
      var updateURL = "{% url 'video_call:service_account-detail' video_call_service_account.id %}"
      var id = "{{ video_call_service_account.id }}";
    {% endif %}

  </script>
  <script src="{% static 'uplevel_admin/video_call/create_update_service_account.js' %}"></script>
{% endblock content_just_after_common_scripts %}