{% extends 'uplevel_admin/base.html' %}

{% load static %}

{% block title_content %}
  Video Call Service Accounts
{% endblock title_content %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="breadcrumb-item active" aria-current="page">System Setup</li>
{% endblock breadcrumb_content %}

{% block heading_content %}
  Video Call Service Accounts
{% endblock heading_content %}

{% block actions_content %}
  <div class="mt-3 text-right">

    <a href="{% url 'video_call:create_video_call_service_account' %}"
       class="btn btn-sm pd-x-15 btn-outline-primary btn-uppercase mg-l-5">
      <i class="fa fa-plus mg-r-3"></i>
      Add new Account
    </a>
  </div>
{% endblock actions_content %}

{% block content_inside_container_div_in_content_body_div %}
  <div class="df-example demo-table">
    <table id="id_tbl_service_accounts" class="display responsive" style="width:100%">
    </table>
  </div>
{% endblock content_inside_container_div_in_content_body_div %}

{% block content_just_after_common_scripts %}
  <script>
    $(function () {
      //Select "active" css in left menu bar
      $("#id_system_setup_category_in_left_nav_bar").addClass("active show");
      $("#id_jobs_in_left_nav_bar").addClass("active");
    });
    var csrfmiddlewaretoken = "{{ csrf_token }}";

    var getUrl = "{% url 'video_call:service_account-list' %}";
    var updateUrl = "{% url 'video_call:update_video_call_service_account' id=12345 %}";

    function getLinkForUpdating(id, name) {
      var url = updateUrl.replace(/12345/, id);
      return "<h6 class='m-0'><a class='link-01' href=" + url + ">" + name + "</a></h6>";
    }

  </script>
  <script src="{% static 'uplevel_admin/video_call/get_service_account.js' %}"></script>
{% endblock content_just_after_common_scripts %}
