{% load  static %}
<!DOCTYPE html>
<html lang="en">
	<head>
<!--    include your meta data and css here   -->
        <meta charset="UTF-8">
		<title>SGSPL Base Template</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>

	<body >
            <!--        create header.html file and include here-->
            <!--        {% include 'header.html' %}-->
            <div>
                <!--            create your index.html file with content template tag and include here-->
                <!--            {% block content %}-->

                <!--            {% endblock %}-->

            </div>

		    <!-- Footer -->
            <!--        create footer.html and include here with the below tag-->
            <!--        {% include 'footer.html' %}-->

            <!--            include extra js files here-->
<!--            {% block extra_js %}-->
<!--            {% endblock %}-->
	</body>
</html>