{% load  static %}
<footer class="text-center white-txt text-center">
    <p>&COPY; SGSPL Base Project</p>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/user_login.js' %}"></script>
    <script src="{% static 'js/user_profile.js' %}"></script>
    <script src="{% static 'js/logout.js' %}"></script>
    <script src="{% static 'js/user_register.js' %}"></script>
{#<script src="{% static 'material/material.min.js' %}"></script>#}
<script src="{% static 'js/mui.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
