{% load static %}
<div class="page-sidebar">
               <div class="logo">
                  <a class="logo-img" href="/">
                  <img class="desktop-logo" src="{% static 'images/logo.png' %}" alt="">
                  <img class="small-logo" src="{% static 'images/small-logo.png' %}" alt="">
                  </a>
                  <a id="sidebar-toggle-button-close"><i class="wd-20" data-feather="x"></i> </a>
               </div>
               <!--================================-->
               <!-- Sidebar Menu Start -->
               <!--================================-->
               <div class="page-sidebar-inner">
                  <div class="page-sidebar-menu">
                     <ul class="accordion-menu">
                        <li class="mg-l-20-force mg-t-25-force menu-navigation">User</li>
                        <li>
                           <a href=""><i data-feather="home"></i>
                           <span>User Profile</span><i class="accordion-icon fa fa-angle-left"></i></a>
                           <ul class="sub-menu">
                              <li><a href="/profile">View Profile</a></li>
                              <li><a href="/update-profile">Update Profile</a></li>

                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
               <!--/ Sidebar Menu End -->
               <!--================================-->
               <!-- Sidebar Footer Start -->
               <!--================================-->
               <div class="sidebar-footer">
                  <a class="pull-left" href="/profile" data-toggle="tooltip" data-placement="top" data-original-title="Profile">
                  <i data-feather="user" class="wd-16"></i></a>
                  <a class="pull-left" id="logout" data-toggle="tooltip" data-placement="top" data-original-title="Sing Out">
                  <i data-feather="log-out" class="wd-16"></i></a>
               </div>
               <!--/ Sidebar Footer End -->
            </div>