{% extends 'event_management/base.html' %}
{% load static %}
{% block content %}
<section class="dashboard">
  <div class="container-fluid">
    <div class="row">
    <!--    <div class="openbtn">
<span style="font-size:26px;cursor:pointer; color: #000; float: right;
    position: absolute; right: 24px;     margin-top: 15px; z-index: 100000;" onclick="openNav()">&#9776;</span>
</div> -->
      <div id="mySidenav" class="col-md-3 lft-menu sidenav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <div class="dash-prof"><i class="fa fa-user" aria-hidden="true"></i> <span>George Jhon</span></div>
          <ul>
          <li><a href="dashboard.html">Home</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="profile.html">Profile</a></li>
            <li><a href="#">Notification</a></li>
              <li><a href="#">Change Password</a></li>
          <li><a href="">Log Out</a></li>
           <li><a href="">About Us</a></li>
        </ul>
        
      </div>
      <div class="col-md-9 pb-5 mb-5">
        <div class="row right-main create-event">
          <div class="col">


               <div class="row">
                <div class="col">  
                 <h3>Create Event</h3>
                </div>
              
              </div>
              <div class="row pt-3">
                <div class="col">  
                  <input type="text" class="form-control" placeholder="Event Type" name="">
                </div>
              
              </div>

                 <div class="row pt-4">
                   <div class="col-md-4">
                  <input type="time" class="form-control" placeholder="Event Date" name="">
                </div>
                
                <div class="col-md-4">
                  <input type="date" class="form-control" placeholder="Event Date" name="">
                </div>
                 <div class="col-md-4">
                  <input type="te" class="form-control" placeholder="Event Location" name="">
                </div>
              </div>

              <div class="row pt-4">
                <div class="col">
                  <textarea class="form-control" placeholder="Event Description"></textarea>
                </div>
              </div>
            
                <div class="row pt-4 text-center">
                <div class="col">
                  <button>Create Event</button>
                </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mob-foot">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
         <ul>
          <li><a href="dashboard.html"><i class="fa fa-home" aria-hidden="true"></i>

 Home</a></li>
          <li><a href="events.html"><i class="fa fa-calendar" aria-hidden="true"></i>
Events</a></li>
          <li><a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i>

Profile</a></li>
          <li><a href=""><i class="fa fa-bell" aria-hidden="true"></i>

Notification</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}



