{% extends 'event_management/base.html' %}
{% load static %}
{% block content %}
<section class="dashboard">
  <div class="container-fluid">
    <div class="row">
  <!--     <div class="openbtn">
<span style="font-size:26px;cursor:pointer; color: #000; float: right;
    position: absolute; right: 24px;     margin-top: 15px; z-index: 100000;" onclick="openNav()">&#9776;</span>
</div> -->
      <div id="mySidenav" class="col-md-3 lft-menu sidenav">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <div class="dash-prof"><i class="fa fa-user" aria-hidden="true"></i> <span>George Jhon</span></div>
        <ul>
          <li><a href="dashboard.html">Home</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="profile.html">Profile</a></li>
            <li><a href="#">Notification</a></li>
              <li><a href="#">Change Password</a></li>
          <li><a href="">Log Out</a></li>
           <li><a href="">About Us</a></li>
        </ul>

      </div>

      <div class="col-md-9  mb-5">
        <div class="row right-main">
          <div class="col">

        <div class="row right-dash">
      <div class="col-md-4">
        <div class="dash-col red">
          <h4>Total Active Events</h4>
          <h5><img src="{% static 'event/img/ticket-icon-1.png' %}">23223</h5>
        </div>
      </div>
         <div class="col-md-4">
          <a href="participants-profile.html">
        <div class="dash-col blue">
          <h4>Total Active Participants</h4>
          <h5><img src="{% static 'event/img/ticket-icon-2.png' %}">2021</h5>
        </div>
        </a>
      </div>

         <div class="col-md-4">
        <div class="dash-col yellow ">
          <h4>Total Registered Users </h4>
          <h5><img src="{% static 'event/img/ticket-icon-3.png' %}">1923</h5>
        </div>
      </div>
      </div>


      <div class="row event-graph">
       <!--  <div class="col-md-5">
          <div class="graph-in"><img src="img/graph-left.jpg"></div>
          </div> -->
        <div class="col">
          <div class="graph-in"><img src="{% static 'event/img/graph-right.jpg' %}"></div>
      </div>
    </div>


        <div class="row recent-tab mb-5">
          <div class="col">
             <h2>Recent Events</h2>
              <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Active Events</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Past Events</button>

</div>

<div class="tabdata">
<div id="London" class="tabcontent">
  <ul>
    <li>
      <div class="tab-cont-img">
        <img src="{% static 'event/img/event-tab-icon.png' %}">
      </div>
      <h5>Event Name : <span>World Water Day</span></h5>
      <h6>Event Date : <span>26/02/2021</span></h6>
      <div class="event-parti">
        <ul>
          <li><h5><a href="participants-profile.html"><i class="fa fa-user" aria-hidden="true"></i> <span>226</span></a></h5></li>
          <li><h5><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>2232</span></h5></li>
        </ul>
      </div>

    </li>

   <li>
      <div class="tab-cont-img">
        <img src="{% static 'event/img/event-tab-icon.png' %}">
      </div>
      <h5>Event Name : <span>World Water Day</span></h5>
      <h6>Event Date : <span>26/02/2021</span></h6>
      <div class="event-parti">
        <ul>
          <li><h5><a href="participants-profile.html"><i class="fa fa-user" aria-hidden="true"></i> <span>226</span></a></h5></li>
          <li><h5><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>2232</span></h5></li>
        </ul>
      </div>

    </li>

     <li>
      <div class="tab-cont-img">
        <img src="{% static 'event/img/event-tab-icon.png' %}">
      </div>
      <h5>Event Name : <span>World Water Day</span></h5>
      <h6>Event Date : <span>26/02/2021</span></h6>
      <div class="event-parti">
        <ul>
          <li><h5><a href="participants-profile.html.html"><i class="fa fa-user" aria-hidden="true"></i> <span>226</span></a></h5></li>
          <li><h5><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>2232</span></h5></li>
        </ul>
      </div>

    </li>

     <li>
      <div class="tab-cont-img">
        <img src="{% static 'event/img/event-tab-icon.png' %}">
      </div>
      <h5>Event Name : <span>World Water Day</span></h5>
      <h6>Event Date : <span>26/02/2021</span></h6>
      <div class="event-parti">
        <ul>
          <li><h5><i class="fa fa-user" aria-hidden="true"></i> <span>226</span></h5></li>
          <li><h5><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>2232</span></h5></li>
        </ul>
      </div>

    </li>

       <li>
      <div class="tab-cont-img">
        <img src="{% static 'event/img/event-tab-icon.png' %}">
      </div>
      <h5>Event Name : <span>World Water Day</span></h5>
      <h6>Event Date : <span>26/02/2021</span></h6>
      <div class="event-parti">
        <ul>
          <li><h5><i class="fa fa-user" aria-hidden="true"></i> <span>226</span></h5></li>
          <li><h5><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>2232</span></h5></li>
        </ul>
      </div>

    </li>
  </ul>
  <div class="readmore"><a href="">Read More</a></div>
</div>

<div id="Paris" class="tabcontent tabcon2">

   <ul>
     <li>
      <div class="tab-cont-img">
        <img src="{% static 'event/img/event-tab-icon.png' %}">
      </div>
      <h5>Event Name : <span>World Water Day</span></h5>
      <h6>Event Date : <span>26/02/2021</span></h6>
      <div class="event-parti">
        <ul>
          <li><h5><i class="fa fa-user" aria-hidden="true"></i> <span>226</span></h5></li>
          <li><h5><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>2232</span></h5></li>
        </ul>
      </div>

    </li>

     <li>
      <div class="tab-cont-img">
        <img src="{% static 'event/img/event-tab-icon.png' %}">
      </div>
      <h5>Event Name : <span>World Water Day</span></h5>
      <h6>Event Date : <span>26/02/2021</span></h6>
      <div class="event-parti">
        <ul>
          <li><h5><i class="fa fa-user" aria-hidden="true"></i> <span>226</span></h5></li>
          <li><h5><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>2232</span></h5></li>
        </ul>

      </div>

    </li>
  </ul>
  <div class="readmore"><a href="">Read More</a></div>
</div>

</div>
          </div>


        </div>



        </div>
        </div>
      </div>







    </div>
  </div>
</section>
<section class="mob-foot">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ul>
          <li><a href="dashboard.html"><i class="fa fa-home" aria-hidden="true"></i>

 Home</a></li>
          <li><a href="events.html"><i class="fa fa-calendar" aria-hidden="true"></i>
Events</a></li>
          <li><a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i>

Profile</a></li>
          <li><a href=""><i class="fa fa-bell" aria-hidden="true"></i>

Notification</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% block scripts %}
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
{% endblock %}
{% endblock %}
